.author {
    display: flex;
}

.author-image-card {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-card {
    width: 250px;
    border-radius: 15px;
}

.profile-card-image {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.profile-service {
    display: flex;
}